- @page_title = h "My Contacts"

- if @contacts.empty?
  %p== You don't seem to have any contacts yet. Why not go #{link_to 'add some', :action => 'new'}?
- else
  %table
    %tr
      %th Last name
      %th First name
      %th Address
      %th Phone number
      %th E-mail address
    = render :partial => 'contact', :collection => @contacts